<script type="text/javascript" src="https://js.stripe.com/v3/"></script>


<div class="demo-wrapper">
    <div class="demo-container">
        <h1>Checkout</h1>
        <h4>Total: ${{total}}</h4>

        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>

        <div class="card-wrapper"></div>

        <div class="form-container active">
            <form action="/checkout" method="post" id="payment-form">
                <div class="row">
                    <div class="small-6 columns">
                        <input placeholder="Card number" id="number" name="number" class="jp-card-invalid visa identified" type="text">
                    </div>
                    <div class="small-6 columns">
                        <input placeholder="Full name" id="name" name="name" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <input placeholder="MM/YY" id="expiry" name="expiry" type="text">
                    </div>

                    <div class="small-3 columns">
                        <input placeholder="CVC" id="cvc" name="cvc" type="text">
                    </div>

                    <div class="small-6 columns">
                        <input value="Submit" class="button postfix" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="javascripts/card.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>
<script>
    $('code').each(function(i, e) {hljs.highlightBlock(e)});
    var card = new Card({ form: '.active form', container: '.card-wrapper' })
</script>
